.header-title {
  text-align: center;
  background-color: rgb(236 235 232);
  border-top: 10px;
  font-size: 20px;
  font-weight: 50;
}

body {
  background-color: rgb(236 235 232);
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.img-display {
  text-align: center;
  background-color: white;
  margin: 15px 0 5px;
}

#timeline-heading {
  text-align: center;
  font: 20px;
}

.timeline {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-weight: bold;
  text-align: center;
}

ul li {
  line-height: 1.6;
}
