.header-title {
  text-align: center;
  background-color: rgb(236 235 232);
  border: none;
}

body {
  background-color: rgb(236 235 232);
  font-size: 1.2rem;
}

.img-display {
  text-align: center;
  background-color: white;
}

#timeline-heading {
  text-align: center;
  font: 20px;
}

.timeline {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-weight: bold;
  text-align: center;
}
